body {
  margin: 0;
  background-color: #2c2b3d;
  color: white;
}

.page {
  margin: 71px auto 23px;
  width: 1280px;
  height: 720px;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 607px;
  align-items: center;
  margin-bottom: 101px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 64px;
  margin: 0;
  padding: 0;
}

ul li a {
  font-family: 'JetBrains Mono';
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 157px 157px;
  width: 1092px;
  height: 283px;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  width: 614px;
  margin-bottom: 59px;
}
span {
  color: #00bfa6;
  font-weight: bold;
}

.texto p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #c2c2c2;
  width: 604px;
  text-align: center;
}

.padlock {
  position: absolute;
  margin: 0 auto 0px 20px;
}

.line {
  width: 568px;
  border: 1px solid #00bfa6;
  margin: 0 auto 27px;
}

.footer {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  margin: 0 auto 0px;
  width: 568px;
  height: 55px;
  line-height: 28px;
  text-align: center;
}
